[Unit]
Description=isintradown daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=intrachecker
Group=intrachecker
#make sure to create group intrachecker + make sure the folder /path/to/isintradown is owned by this user
WorkingDirectory=/path/to/isintradown/src
ExecStart=/usr/bin/env php /path/to/isintradown/src/check.php

[Install]
WantedBy=multi-user.target
